.TodoItem {
    display: flex;
    align-items: center;
    background-color: rgba(232, 252, 255, 0.192);
    margin-bottom: 10px;
    width: 100%;
    max-width: 100% !important;
    border-radius: 4px;
    position: relative;
    padding: 10px;
}

.Icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Icon-Check {
    font-size: 25px;
    padding: 10px;
    color: rgb(169, 168, 172)   
}

.Icon-Check:hover {
    color: rgb(55, 173, 55) 
}

.Icon-Check--completed {
    color: rgb(55, 173, 55)   
}

.Icon-Delete, .Icon-Edit {
    position: absolute;
    top: 8px;
}

.Icon-Delete {
    font-size: 25px;
    right: 10px;
}

.Icon-Edit {
    right: 48px;
    font-size: 20px;
}

.TodoItem .Icon-Delete, .TodoItem .Icon-Edit {
    color: rgb(113, 107, 145);
}

.Icon-Edit:hover {
    color: rgb(62, 167, 209);
}

.Icon-Delete:hover {
    color: rgb(180, 50, 50);
}

.TodoItem-p {
    font-size: 16px;
    margin-right: 20px;
}

.TodoItem-p--completed {
    text-decoration: line-through;
}