h1 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
    font-weight: 600 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 span {
    font-weight: 800;
}

h1.disabled {
    opacity: 60%;
}